<header>
    <nav class="container flex justify-between items-center">
        <div class="py-5 text-color-segundario font-bold text-3xl">
            <a href="#home" class="opacity-85 hover:opacity-100"><span class="text-color-white">My</span>Landing</a>
        </div>
        <div>
            <ul class="hidden lg:flex items-center space-x-6">
                <li><a href="#" class="resaltar">Home</a></li>
                <li><a href="#" class="resaltar">Servicios</a></li>
                <li><a href="#" class="resaltar">Testimonios</a></li>
                <li><a href="#" class="resaltar">Precios</a></li>
                <li><a href="#" class="resaltar">Blog</a></li>
                <li><a href="#" class="resaltar">Contacto</a></li>

                <li class="boton"><button>Contratar</button></li>
            </ul>
        </div>

        <!-- Vista mobil del Menu-->
        <div id="hamburguesa" (click)="inOutMenu()" class="lg:hidden cursor-pointer p-2 z-10">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div id="menu" class="hidden bg-color-primario-dark h-[100vh] absolute inset-0">
            <ul class="h-full grid place-items-center betw py-20">
                <li (click)="inOutMenu()"><a id="menuLink" href="#" class="resaltar">Home</a></li>
                <li (click)="inOutMenu()"><a id="menuLink" href="#" class="resaltar">Servicios</a></li>
                <li (click)="inOutMenu()"><a id="menuLink" href="#" class="resaltar">Testimonios</a></li>
                <li (click)="inOutMenu()"><a id="menuLink" href="#" class="resaltar">Precios</a></li>
                <li (click)="inOutMenu()"><a id="menuLink" href="#" class="resaltar">Blog</a></li>
                <li (click)="inOutMenu()"><a id="menuLink" href="#" class="resaltar">Contacto</a></li>

                <li (click)="inOutMenu()" class="boton"><button>Contratar</button></li>
            </ul>
        </div>
    </nav>
</header>